.character-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  border-radius: 8px;
  justify-content: center;
}

.character-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  border-radius: 6px;
}

.character-card__link {
  text-decoration: none;
  color: #000;
}

.character-card__image-container {
  position: relative;
}

.character-card__icon {
  display: block;
  border-radius: 8px 8px 0 0;
  width: 104px;
  height: 104px;
  border: 1px solid var(--border);
  border-bottom: none;
}

.character-card__element {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.character-card__weapon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.character-card__name {
  background: #e3e3e3;
  border: 1px solid var(--border);
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 5px 2px;
  font-size: 11px;
}
