:root {
  --bg: #111827;
  --color: #f3f4f6;
  --border: #374151;
  --card: #1f2937
}

body {
  background: var(--bg);
  color: var(--color);
}

.content {
  padding-bottom: 50px;
}

.back-button {
  display: inline-flex;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 2px;
}

.back-button:hover {
  color: var(--color);
}

.search {
  display: flex;
  align-items: center;
}

.search__input {
  flex: 1;
  padding: 16px;
  margin: 5px;
  background: var(--card);
  color: var(--color);
  border: 1px solid var(--border);
  border-radius: 6px;
  outline: none;
}

.search__input:focus {
  border-color: #60a5fa;
}

.search__button {
  height: 49px;
  width: 20%;
  background: var(--card);
  color: var(--color);
  border: 1px solid var(--border) ;
  border-radius: 6px;
}

.search__text {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
}

.filter-modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
}

.filter-modal-overlay__visible {
  display: flex;
}

.filter-modal {
  background: var(--card);
  padding: 20px;
  width: 300px;
  height: 400px;
  border: 1px solid var(--border);
  border-radius: 12px;
}

.filter-modal__header {
  color: var(--color);
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.filter-modal__title {
  color: var(--color);
  font-size: 18px;
  font-weight: 600;
}

.filter-modal__item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.filter-modal__item {
  padding: 5px;
  border: 1px solid var(--border);
  text-align: center;
}

.rarity.is-selected {
  color: #fbb244;
  border-color: #fbb244;
}

.element-pyro.is-selected {
  background: #ef444415;
  color: #ef4444;
  border-color: #ef4444;
}

.element-hydro.is-selected {
  background: #38bdf815;
  color: #38bdf8;
  border-color: #38bdf8;
}

.element-electro.is-selected {
  background: #a855f715;
  color: #a855f7;
  border-color: #a855f7;
}

.element-cryo.is-selected {
  background: #60a5fa15;
  color: #60a5fa;
  border-color: #60a5fa;
}

.element-anemo.is-selected {
  background: #34d39915;
  color: #34d399;
  border-color: #34d399;
}

.element-geo.is-selected {
  background: #fbbf2415;
  color: #fbbf24;
  border-color: #fbbf24;
}

.element-dendro.is-selected {
  background: #84cc1615;
  color: #84cc16;
  border-color: #84cc16;
}

.weapon.is-selected {
  border-color: #60a5fa;
}

.filter-modal__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.filter-modal__actions-clear-filters {
  background: transparent;
  color: #9ca3af;
  border: none;
  text-decoration: underline;
  padding: 8px;
}

.filter-modal__actions-clear-filters:hover {
  border: 1px solid #6b7280;
  color: var(--color);
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  border-radius: 8px;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  border-radius: 6px;
}

.item-card.small {
  padding: 0;
  margin: 25px;
}

.item-name {
  background: #e3e3e3;
  border-radius: 0 0 8px 8px;
  padding: 5px 2px;
  font-size: 11px;
}

.item-name.small {
  font-size: 10px;
}
.icon {
  background: var(--card);
  border-radius: 8px 8px 0 0;
  width: 104px;
  height: 104px;
  border: 1px solid var(--border);
}

.icon.small {
  width: 64px;
  height: 64px;
}

.icon.mini {
  background: none;
  width: 16px;
  height: 16px;
}

.a {
  text-decoration: none;
  color: #000;
}


.character-basic-info p {
  border-bottom: 1px solid var(--border);
  
}

.details-header {
  border: 3px solid var(--border);
  border-radius: 20px;
  text-align: center;
  padding: 8px;
  margin: 6px 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

.level-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-slider .header {
  font-size: 18px;
  font-weight: 500;
}

.level-slider input[type='range'] {
  width: 70%;
  background: red;
  margin: 0 0 8px 0;
}

.passive h3 {
  margin: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #396e7d;
}




.weapon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapon-stat {
  display: flex;
  min-width: 300px;
  border: 1px solid var(--border);
  padding: 10px;
  justify-content: center;
}

.weapon-stat-label {
  color: var(--color);
  flex: 1;
  text-transform: uppercase;
  font-size: 0.85em;
}

.weapon-stat-value {
  color: var(--color):
  flex: 1;
}

.flex-box {
  display: flex;
}

.flex-box h3 {
  flex: 1;
}

.grid {
  display: flex;
}

.box {
  border: 1px solid var(--border);
  text-align: center;
  padding: 5px;
}

.box.active {
  background: var(--color);
  color: var(--bg);
}


/*Navigation Bar*/
.navbar {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #000;
}

.navbar-item {
  background: #000;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  flex: 1;
  padding: 25px 0 25px 0;
  margin: 0 10px;
  text-align: center;
}

.item-list-home {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: var(--bg);
  overflow-y: scroll;
  border-radius: 12px;
  margin: 5px;
}

.item-card-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
}

.item-name-home {
  background: #e3e3e3;
  border-radius: 0 0 8px 8px;
  font-size: 13px;
}

.icon-home {
  background: var(--card);
  border-radius: 8px 8px 0 0;
  width: 64px;
  height: 64px;
}

.a-home {
  text-decoration: none;
  color: #000;
}


.material {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-stat {
  display: flex;
  min-width: 300px;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
}

.material-stat-label {
  color: var(--color);
  flex: 1;
  font-size: 0.85em;
  text-transform: uppercase;
}

.material-stat.source {
  margin: 5px;
}

.material-stat-label.source {
  text-transform: capitalize;
  font-size: 12px;
}
.material-stat-value {
  color: var(--color):
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unlock-requirement {
  background: var(--bg);
  border: 1px solid #fff;
  padding: 5px;
}

.artifact-page-title {
  font-size: 25px;
  font-weight: 600;
}

.artifact-page-icon {
  display: flex;
  justify-content: center;
}

.artifact-page-icon img {
  width: 128px;
  height: 128px;
}

.artifact-page-details {
  border: 1px solid #fff;
  border-radius: 8px;
  background: var(--card);
  padding: 5px;
}

.artifact-page-details p {
  font-size: 14px;
}

.artifact-page-details h3 {
  text-align: center;
  margin: 3px;
}

.artifact-page-pieces {
  display: flex;
  justify-content: center;
}

.artifact-page-pieces__icon {
  width: 48px;
  height: 48px;
  margin: 5px;
}

.artifact-page-pieces__icon.active {
  background: var(--card);
  border: 1px solid #fff;
  border-radius: 5px;
}